html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/***********************MEDIA QUERIES***********************/
/***********************COLORS & FONTS***********************/
@font-face {
  font-family: "Julius";
  src: url("../fonts/Julius/JuliusSansOne-Regular.ttf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Heavy.ttf");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Medium.ttf");
  font-style: normal;
  font-weight: 500; }

.header__container, .about__container, .team__container, .team__list, .creative__container, .choose__container, .footer__container, .footer__contact-container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 320px) {
    .header__container, .about__container, .team__container, .team__list, .creative__container, .choose__container, .footer__container, .footer__contact-container {
      width: 100%;
      padding: 0 15px; } }
  @media (min-width: 768px) {
    .header__container, .about__container, .team__container, .team__list, .creative__container, .choose__container, .footer__container, .footer__contact-container {
      width: 750px; } }
  @media (min-width: 1024px) {
    .header__container, .about__container, .team__container, .team__list, .creative__container, .choose__container, .footer__container, .footer__contact-container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .header__container, .about__container, .team__container, .team__list, .creative__container, .choose__container, .footer__container, .footer__contact-container {
      width: 1170px; } }

.wow {
  visibility: hidden; }

.page {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 24px; }
  .page__wrap {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto; }
  .page a {
    color: #fff;
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
    text-decoration: none;
      -webkit-text-decoration-color: #e2e2e2;
              text-decoration-color: #e2e2e2; }
  .page p {
    line-height: 1.5; }
  .page hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0; }
  .page h1, .page h2, .page h3, .page h4 {
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase; }
    .page h1 span, .page h2 span, .page h3 span, .page h4 span {
      color: #fba419; }
  .page h1 {
    font-size: 109.25px;
    letter-spacing: -5px;
    line-height: 1.1; }
    @media (max-width: 480px) {
      .page h1 {
        font-size: 60px; } }
  .page h2 {
    font-size: 60px;
    color: #383738;
    line-height: 1.2; }
  .page h3 {
    font-size: 48px;
    color: #383738;
    line-height: 1.2; }
  .page .btn {
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: #fba419;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 14px 30px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .page .btn:hover {
      background-color: #ea9000; }

.header {
  min-height: 1122px;
  width: 100%;
  background: url("../img/header/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media (max-width: 480px) {
    .header__nav a {
      font-size: 11px; } }
  @media (min-width: 320px) {
    .header__nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      text-transform: uppercase;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 1024px) {
    .header__nav {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .header__nav-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 320px) {
      .header__nav-left {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (min-width: 768px) {
      .header__nav-left {
        width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 5) + ( 40px * (5 - 1)));
        width: calc( (((100% - (40px * (12 - 1))) / 12) * 5) + ( 40px * (5 - 1)));
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 1024px) {
      .header__nav-left {
        width: auto;
        margin-left: 86px; } }
    @media (min-width: 768px) {
      .header__nav-left-item {
        margin: 10px 10px; } }
    @media (min-width: 1024px) {
      .header__nav-left-item {
        margin: 20px 17px 0 17px; } }
  .header__nav-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 320px) {
      .header__nav-right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (min-width: 768px) {
      .header__nav-right {
        width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 5) + ( 40px * (5 - 1)));
        width: calc( (((100% - (40px * (12 - 1))) / 12) * 5) + ( 40px * (5 - 1)));
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 1024px) {
      .header__nav-right {
        width: auto;
        margin-right: 50px; } }
    @media (min-width: 768px) {
      .header__nav-right-item {
        margin: 10px 10px; } }
    @media (min-width: 1024px) {
      .header__nav-right-item {
        margin: 25px 30px 0 0; } }
  .header-logo {
    border: 14px solid #fba419;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
    @media (min-width: 320px) {
      .header-logo {
        background-color: #fba419;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: -70px;
        width: 80px;
        height: 80px; } }
    @media (min-width: 768px) {
      .header-logo {
        display: block;
        background-color: transparent;
        margin-top: -80px;
        width: 130px;
        height: 130px; } }
    @media (min-width: 1024px) {
      .header-logo {
        margin-top: -135px;
        width: 230px;
        height: 230px; } }
    @media (min-width: 1200px) {
      .header-logo {
        margin-top: -210px;
        width: 355px;
        height: 355px; } }
    @media (min-width: 1500px) {
      .header-logo {
        margin-top: -239px;
        width: 450px;
        height: 450px; } }
    .header-logo__content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
      @media (min-width: 320px) {
        .header-logo__content {
          margin: 0 -16px -30px 0; } }
      @media (min-width: 768px) {
        .header-logo__content {
          margin: 70px 0 0 40px; } }
      @media (min-width: 1024px) {
        .header-logo__content {
          margin: 120px 0 0 90px; } }
      @media (min-width: 1200px) {
        .header-logo__content {
          margin: 186px 0 0 135px; } }
      @media (min-width: 1500px) {
        .header-logo__content {
          margin: 236px 0 0 172px; } }
      .header-logo__content img {
        height: auto; }
        @media (min-width: 320px) {
          .header-logo__content img {
            width: 70px; } }
        @media (min-width: 768px) {
          .header-logo__content img {
            width: 80%; } }
        @media (min-width: 1024px) {
          .header-logo__content img {
            width: 60%; } }
        @media (min-width: 1200px) {
          .header-logo__content img {
            width: 60%; } }
      .header-logo__content-separator {
        width: 103px;
        height: 4px;
        background-color: #989898; }
        @media (min-width: 320px) {
          .header-logo__content-separator {
            display: none; } }
        @media (min-width: 768px) {
          .header-logo__content-separator {
            display: none; } }
        @media (min-width: 1024px) {
          .header-logo__content-separator {
            display: block;
            margin: 10px 0 10px 0; } }
        @media (min-width: 1200px) {
          .header-logo__content-separator {
            margin: 14px 0 20px 0; } }
        @media (min-width: 1500px) {
          .header-logo__content-separator {
            margin: 14px 0 27px 0; } }
      @media (min-width: 320px) {
        .header-logo__content-social {
          display: none; } }
      @media (min-width: 768px) {
        .header-logo__content-social {
          display: none; } }
      @media (min-width: 1024px) {
        .header-logo__content-social {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      .header-logo__content-social a {
        display: block;
        border: 3px solid #fff;
        border-radius: 50%;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        cursor: pointer; }
        @media (min-width: 1024px) {
          .header-logo__content-social a {
            padding: 4px;
            margin: 0 4px;
            font-size: 16px; } }
        @media (min-width: 1200px) {
          .header-logo__content-social a {
            padding: 7px;
            margin: 0 7px;
            font-size: 20px; } }
        @media (min-width: 1500px) {
          .header-logo__content-social a {
            padding: 7px;
            margin: 0 12.4px;
            font-size: 26px; } }
        .header-logo__content-social a:hover {
          background-color: #fff;
          color: #000; }
  .header__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 180px;
    text-align: center;
    padding: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
    .header__container p {
      padding: 70px 0;
      max-width: 900px; }

.about {
  min-height: 822px;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .about__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 78px 0; }
  .about__separator {
    width: 206px;
    height: 8px;
    background-color: #fba419;
    margin: 30px 0; }
  .about__info {
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
    @media (max-width: 1500px) {
      .about__info {
        position: relative;
        z-index: 87;
        background-color: #fff;
        padding: 30px; } }
    .about__info p {
      color: #040404;
      margin: 0 0 46px 0;
      max-width: 390px;
      line-height: 1.3; }
  .about__images {
    position: absolute;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -130px;
    top: -90px; }
  .about__images-item {
    width: 400px;
    height: 400px;
    background-color: #fba419;
    margin: 0 0 50px 0;
    float: left;
    clear: both;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .about__images-item img {
      -webkit-transform: rotate(-45deg) scale(1.5);
          -ms-transform: rotate(-45deg) scale(1.5);
              transform: rotate(-45deg) scale(1.5);
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .about__images-item img:hover {
        -webkit-transform: rotate(-50deg) scale(1.7);
            -ms-transform: rotate(-50deg) scale(1.7);
                transform: rotate(-50deg) scale(1.7); }
    .about__images-item:nth-child(2) {
      float: left;
      margin: -254px 0 0 -505px;
      background-color: transparent;
      border: 27px solid #fba419;
      opacity: 0.5; }
    .about__images-item:nth-child(3) {
      clear: none; }
    .about__images-item:nth-child(4) {
      float: right;
      clear: none;
      margin-left: 50px; }

.team {
  min-height: 822px;
  width: 100%;
  background-color: #2f2f2f;
  overflow: hidden; }
  .team__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    padding: 78px 15px;
    position: relative;
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
    @media (max-width: 1024px) {
      .team__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .team__separator {
    width: 206px;
    height: 8px;
    background-color: #fba419;
    margin: 30px 0; }
  @media (max-width: 1024px) {
    .team__info {
      margin: 0 0 78px 0; } }
  .team__info h2 {
    color: #fff; }
  .team__info p {
    margin: 0 0 46px 0;
    width: 405px;
    line-height: 1.3; }
    @media (max-width: 1024px) {
      .team__info p {
        width: 100%; } }
  .team__list {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 10) + ( 40px * (10 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 10) + ( 40px * (10 - 1)));
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
    @media (max-width: 1024px) {
      .team__list {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 1500px) {
      .team__list {
        padding: 0 15px;
        position: absolute;
        margin-left: 468px; } }
    .team__list-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 0 45px 0; }
      .team__list-item img {
        margin: 0 5px; }
        @media (min-width: 1500px) {
          .team__list-item img {
            margin: 0 27px; } }
      .team__list-item span {
        color: #fba419;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 900;
        padding: 20px 0 12px 0; }

.creative {
  min-height: 822px;
  width: 100%;
  overflow: hidden; }
  .creative__container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 83px 0;
    position: relative; }
  .creative__info {
    margin: 40px 30px 30px 30px;
    position: relative;
    z-index: 78; }
    @media (max-width: 1024px) {
      .creative__info {
        background-color: #fff;
        padding: 30px; } }
    .creative__info h3 {
      margin: 0 0 30px 0; }
    .creative__info p {
      color: #707070;
      margin: 0 0 76px 0;
      width: 340px;
      font-size: 18px;
      line-height: 1.7; }
      @media (max-width: 480px) {
        .creative__info p {
          width: 100%; } }
  .creative__images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 454px;
    top: 61px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
    @media (max-width: 1024px) {
      .creative__images {
        left: 0; } }
    .creative__images-left, .creative__images-right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .creative__images-left img, .creative__images-right img {
        margin-bottom: 28px; }
    .creative__images-left {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .creative__images-right {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-left: 28px; }

.choose {
  min-height: 822px;
  width: 100%;
  overflow: hidden;
  background-color: #2f2f2f;
  position: relative; }
  .choose__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
    @media (max-width: 1024px) {
      .choose__container {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    @media (min-width: 1500px) {
      .choose__container {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end; } }
  .choose__image {
    margin: 83px 0; }
    @media (max-width: 1024px) {
      .choose__image {
        margin: 83px 0 0 0; } }
    @media (min-width: 1500px) {
      .choose__image {
        position: absolute;
        top: 10px;
        left: -14px; } }
  .choose__info {
    position: relative;
    margin: 80px 30px 0 40px; }
    @media (max-width: 480px) {
      .choose__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (max-width: 1024px) {
      .choose__info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin: 40px 0 0 0; } }
    @media (min-width: 1500px) {
      .choose__info {
        margin: 80px 0 0 0;
        width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
        width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); } }
    .choose__info h3 {
      margin: 0 0 55px 0;
      color: #fff; }
    .choose__info p {
      color: #707070;
      width: 340px;
      font-size: 18px;
      line-height: 1.3; }
  .choose__item {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 47px 0; }
    @media (max-width: 1024px) {
      .choose__item {
        width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
        width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); } }
    @media (max-width: 480px) {
      .choose__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%; } }
    .choose__item-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      padding: 0 64px 0 0; }
      @media (max-width: 1024px) {
        .choose__item-left {
          padding: 0 24px 0 0; } }
      @media (max-width: 480px) {
        .choose__item-left {
          padding: 0 0 50px 0; } }
    @media (max-width: 480px) {
      .choose__item-right {
        text-align: center; } }
    .choose__item-right span {
      display: block;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 17px;
      margin-bottom: 15px; }
    .choose__item-right p {
      font-size: 16px;
      line-height: 1.5;
      white-space: normal; }
      @media (max-width: 1024px) {
        .choose__item-right p {
          width: 100%; } }

.services {
  min-height: 822px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  @media (max-width: 1024px) {
    .services {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .services__info {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
    @media (max-width: 1024px) {
      .services__info {
        width: 100%;
        margin: 0;
        right: 0;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    .services__info-wrap {
      width: 300px;
      margin: 93px 140px 93px 0; }
      @media (max-width: 1024px) {
        .services__info-wrap {
          width: 100%;
          margin: 93px 15px; } }
    .services__info h3 {
      text-align: right; }
      @media (max-width: 1024px) {
        .services__info h3 {
          text-align: left; } }
    .services__info p {
      color: #000;
      text-align: right;
      margin: 45px 0 72px; }
      @media (max-width: 1024px) {
        .services__info p {
          text-align: left; } }
    .services__info button {
      float: right;
      display: block; }
      @media (max-width: 1024px) {
        .services__info button {
          margin: 0 auto;
          float: left; } }
  .services__content {
    background: url("../img/services/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 822px; }
    @media (max-width: 1024px) {
      .services__content {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .services__content-inside {
      background-color: #2f2f2f;
      right: 100px;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding: 30px 126px;
      margin: 93px 0; }
      @media (min-width: 1500px) {
        .services__content-inside {
          left: -75px; } }
      @media (max-width: 1024px) {
        .services__content-inside {
          right: 0; } }
      @media (max-width: 480px) {
        .services__content-inside {
          padding: 30px 15px;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
  .services__item {
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 30px 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
    @media (max-width: 480px) {
      .services__item {
        width: 100%; } }
    .services__item img {
      margin-bottom: 30px; }
    .services__item span {
      display: block;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 17px;
      margin-bottom: 15px;
      color: #fba419; }
    .services__item p {
      font-size: 16px;
      line-height: 1.5;
      max-width: 400px; }

.client {
  min-height: 818px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #2f2f2f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 1024px) {
    .client {
      display: block; }
      .client::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; } }
  .client__info {
    min-width: 533px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 1024px) {
      .client__info {
        min-width: auto;
        float: right;
        width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
        width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); }
        .client__info::after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; } }
    @media (max-width: 1024px) {
      .client__info {
        float: none;
        width: 100%; } }
    .client__info h3 {
      color: #fff;
      margin-bottom: 60px; }
    .client__info-container {
      max-width: 400px;
      margin: 135px 0 0 0;
      -webkit-animation-duration: 2s;
              animation-duration: 2s; }
      @media (max-width: 1024px) {
        .client__info-container {
          max-width: auto;
          margin: 50px 20px; } }
      @media (min-width: 1500px) {
        .client__info-container {
          margin: 135px 32px 0 0; } }
    .client__info-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .client__info-item:first-child {
        margin-bottom: 95px; }
      .client__info-item-left span {
        font-size: 80px; }
      .client__info-item-right span {
        display: block;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 17px;
        margin-top: 30px; }
      .client__info-item-right p {
        font-size: 16px;
        line-height: 1.5; }
  @media (max-width: 1024px) {
    .client__image {
      float: left;
      width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
      width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); }
      .client__image::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; } }
  @media (max-width: 480px) {
    .client__image {
      float: none;
      width: 100%; } }
  .client__image img {
    display: block; }
    @media (max-width: 1024px) {
      .client__image img {
        width: 100%; } }
  .client__comment {
    min-width: 533px;
    width: 100%;
    background-color: #fff; }
    @media (max-width: 1024px) {
      .client__comment {
        float: left;
        min-width: auto; } }
    .client__comment-ap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 290px;
      margin: 138px 0 0 40px;
      text-align: center;
      color: #000;
      font-size: 24px;
      -webkit-animation-duration: 2s;
              animation-duration: 2s; }
      @media (max-width: 1024px) {
        .client__comment-ap {
          max-width: 100%;
          margin: 50px 15px; } }
      @media (min-width: 1500px) {
        .client__comment-ap {
          margin: 138px 0 0 98px; } }
      .client__comment-ap img {
        margin: 0 0 58px; }
      .client__comment-ap span {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 40px; }

.footer {
  min-height: 950px;
  width: 100%;
  overflow: hidden;
  background-color: #2f2f2f;
  position: relative; }
  .footer__container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__social {
    min-height: 336px;
    padding: 82px 0;
    background: url("../img/footer/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
    .footer__social h3 {
      color: #fff;
      padding: 0 0 72px 0; }
    .footer__social-icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 1024px) {
        .footer__social-icons {
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; } }
      .footer__social-icons a {
        display: block;
        border: 3px solid #fff;
        border-radius: 50%;
        padding: 14px;
        margin: 0 21px;
        font-size: 50px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        cursor: pointer; }
        .footer__social-icons a:hover {
          background-color: #fff;
          color: #000; }
  .footer__contact {
    margin: 100px 15px; }
    .footer__contact-container {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; }
      @media (max-width: 1024px) {
        .footer__contact-container {
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
  .footer__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 4) + ( 40px * (4 - 1)));
    width: calc( (((100% - (40px * (12 - 1))) / 12) * 4) + ( 40px * (4 - 1))); }
    @media (max-width: 1024px) {
      .footer__item {
        margin: 15px 0;
        width: -webkit-calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1)));
        width: calc( (((100% - (40px * (12 - 1))) / 12) * 6) + ( 40px * (6 - 1))); } }
    @media (max-width: 480px) {
      .footer__item {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .footer__item-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer__item-right {
      margin-left: 30px; }
      @media (max-width: 480px) {
        .footer__item-right {
          text-align: center;
          margin: 20px 0; } }
      .footer__item-right span {
        display: block;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 17px;
        margin-bottom: 15px; }
      .footer__item-right p {
        font-size: 16px;
        line-height: 1.5; }
  .footer__figure {
    height: 290px; }
    .footer__figure-box {
      margin: 0 auto;
      border: 14px solid #fba419;
      width: 450px;
      height: 450px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      position: relative;
      bottom: -160px; }
      .footer__figure-box-content {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        position: relative;
        top: 85px;
        left: -110px;
        text-align: center; }
        .footer__figure-box-content a {
          font-size: 20px; }
