extends template

block content
    +about({
        "items": [
            {
                "link": "./img/about/images/3.png"
            },
            {
                "link": "#"
            },
            {
                "link": "./img/about/images/4.png"
            },
            {
                "link": "./img/about/images/2.png"
            },
            {
                "link": "./img/about/images/1.png"
            }
        ]
    })
    +team({
        "items": [
            {
                "link": "./img/team/1.png"
            },
            {
                "link": "./img/team/2.png"
            },
            {
                "link": "./img/team/3.png"
            },
            {
                "link": "./img/team/4.png"
            },
            {
                "link": "./img/team/5.png"
            },
            {
                "link": "./img/team/6.png"
            },
        ]
    })
    +creative({
        "items_left": [
            {
                "link": "./img/creative/4.png"
            },
            {
                "link": "./img/creative/3.png"
            }
        ],
         "items_right": [
            {
                "link": "./img/creative/1.png"
            },
            {
                "link": "./img/creative/2.png"
            }
        ]
    })
    +choose({
        "items": [
            {
                "link": "./img/choose/1.png",
                "title": "Lorem ipsum dolor",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
            },
            {
                "link": "./img/choose/2.png",
                "title": "Lorem ipsum dolor",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
            },
            {
                "link": "./img/choose/3.png",
                "title": "Lorem ipsum dolor",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
            },
        ]
    })
    +services({
        "items": [
            {
                "link": "./img/services/1.png",
                "title": "Lorem ipsum dolor",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e.iusmod tempor incididunt ut labore et dolore magna"
            },
            {
                "link": "./img/services/2.png",
                "title": "Lorem ipsum dolor",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e.iusmod tempor incididunt ut labore et dolore magna"
            },
            {
                "link": "./img/services/3.png",
                "title": "Lorem ipsum dolor",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e.iusmod tempor incididunt ut labore et dolore magna"
            },
            {
                "link": "./img/services/4.png",
                "title": "Lorem ipsum dolor",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e.iusmod tempor incididunt ut labore et dolore magna"
            }
        ]
    })
    +client({
        "items": [
            {
                "autor": "John Doe, CEO",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
            },
            {
                "autor": "John Doe, CEO",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
            }
        ]
    })